:root {
  --topcolor: #fed22f;
  --black: #020100;
  --table-height: 30px;
}

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
}

#score_table {
  position: absolute;
  right: 0;
  bottom: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 12fr repeat(2, 1fr) 2fr;
  grid-template-rows: repeat(3, var(--table-height));
  width: 400px;
  .header {
    padding: 5px;
    background: var(--topcolor);
  }
  .players,
  .darts_thrown,
  .win_legs,
  .scores_left {
    padding: 0 5px;
  }
  .player1 {
    background: #fdfffc;
  }
  .player2 {
    background-color: #cacaca;
  }
  .player.helper {
    ul {
      position: absolute;
      visibility: hidden;
      right: 100%;
      width: 0;
      height: var(--table-height);
      line-height: var(--table-height);
      list-style-type: none;
      background-image: linear-gradient(90deg, transparent 95%, darken(#fff, 10%) 100%);
      z-index: -2;
      &.checkout_slider {
        visibility: visible;
        width: 150px;
        transition: all 100ms cubic-bezier(.08,.28,.14,.38);
      }
    }
    li {
      padding: 5px;
      display: inline;
    }
  }
  .active_player {
    border-right: 4px solid var(--black);
  }
  .player_name {
    font-weight: bold;
    text-transform: uppercase;
    line-height: var(--table-height);
    box-shadow: 13px 0 16px -5px #a7a7a7;
    z-index: 2;
  }
  .darts_thrown,
  .win_legs,
  .scores_left {
    line-height: var(--table-height);
  }
  .win_legs,
  .scores_left {
    font-weight: bold;
  }
  .darts_thrown {
    font-size: .7em;
  }
  .win_legs {
    box-shadow: 13px 0 16px -5px #a7a7a7;
    z-index: 1;
  }
  .scores_left {
    background-color: #2259D8;
    color: #fff;
  }
}

.container_input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(135, 135, 135, 0.62);
  z-index: 10;
  .players_input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 400px;
    height: 200px;
    left: calc(50vw - 200px);
    top: calc(50vh - 100px);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #888;
    label {
      display: flex;
      justify-content: space-evenly;
    }
    #player1,
    #player2 {
      height: 40px;
      width: 85%;
      padding-left: 10px;
      background-color: #fff;
      border: 1px solid #cecece;
      border-radius: 5px;
    }
    input[type='submit'] {
      margin: 0 auto;
      height: 30px;
      width: 85%;
      background-color: #dfe0df;
      &:hover {
        background-color: darken(#dfe0df, 10%);
      }
    }
  }
}

.btn {
  border: 1px solid #cecece;
  border-radius: 5px;
}